* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



footer {
  background: #5b48f1;
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: 10px;
  bottom: 0;
  position:absolute;
  width: 100%;
}